package:
  name: OpenSSL
  metadata:
    Vendor: "Endocode"
    OcFossLiaison: "Mirko Boehm"
    OcComplianceContact: "foss@endocode.com"
  server:
    rpcaddress: ":50051"
    dbaddress: "localhost:9080"
    dbworkers: 4
    outputDir: /
  analysis:
    - analyzer: spdx-analyzer
      name: "Simple SPDX Analyzer"
      selector: sourcecode
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        workdir: "/buildroot"
    - analyzer: scancode-analyzer
      name: "Scancode Analyzer"
      selector: sourcecode
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        workdir: "/buildroot"
        resultfile: "/buildroot/scancode.json"
      #  cached: "true"
    - analyzer: pyqmstr-spdx-analyzer
      name: "SPDX Analyzer"
      selector: sourcecode
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        workdir: "/buildroot"
  reporting:
    - reporter: qmstr-reporter-html
      name: "HTML Reporter"
      config:
        siteprovider: "Endocode"
        baseurl: "http://qmstr.org/packages/"
