**/*.o
**/*.so
**/*.json
**/*.tar
**/*.tar.bz2
demos/calc/Calculator
demos/curl/curl
demos/jsonc/jsonc
demos/openssl/openssl
demos/java-jabref/jabref
demos/icecream/icecream
demos/debian-curl/curl/
demos/debian-curl/libcurl*
demos/debian-curl/curl_*
demos/debian-curl/curl-*
demos/python-flask/flask
demos/python-pillow/Pillow
**/qmstr
**/reports
**/ana.yaml
*.DS_Store
container/Full*.Dockerfile
