**/*.o
**/*.so
**/*.json
**/*.tar
**/*.tar.bz2
**/*.deb
**/*.ddeb
**/debian-binary
**/*.buildinfo
**/*.changes
demos/calc/Calculator
demos/curl/curl
demos/jsonc/jsonc
demos/openssl/openssl
demos/java-jabref/jabref
demos/java-guava/guava
demos/java-android-blockly/blockly-android
demos/icecream/icecream
demos/debian-curl/curl/
demos/python-debian-sqlalchemy/sqlalchemy
demos/python-flask/flask
demos/python-pillow/Pillow
**/qmstr
**/reports
**/ana.yaml
*.DS_Store
container/Full*.Dockerfile
*~
