package:
  name: "cURL"
  metadata:
    Vendor: "Endocode"
    OcFossLiaison: "Mirko Boehm"
    OcComplianceContact: "foss@endocode.com"
  server:
    rpcaddress: ":50051"
    dbaddress: "localhost:9080"
    dbworkers: 4
  analysis:
    - analyzer: pkg-analyzer
      name: "Package Analyzer"
      selector: linkedtarget
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        targetdir: "/buildroot/curl/build/"
        targets: "src/curl;lib/libcurl.so"
    - analyzer: spdx-analyzer
      name: "Simple SPDX Analyzer"
      selector: sourcecode
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        workdir: "/buildroot"
    - analyzer: scancode-analyzer
      name: "Scancode Analyzer"
      selector: sourcecode
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        workdir: "/buildroot"
        resultfile: "/buildroot/scancode.json"
      #  cached: "true"
    - analyzer: test-analyzer
      name: "Simple CI Test Analyzer"
      selector: sourcecode
      pathsub:
        - old: "SOURCEDIR"
          new: "/buildroot"
      config:
        workdir: "/buildroot"
        tests: "TestPackageNode;TestCurlBuildGraph"
  reporting:
    - reporter: test-reporter
      name: "Test Reporter"
      config:
        siteprovider: "Endocode"
    - reporter: qmstr-reporter-html
      name: "HTML Reporter"
      config:
        siteprovider: "Endocode"
        baseurl: "http://qmstr.org/packages/"
